.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #141414;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: background-color 0.5s;
}

.header:hover {
  background-color: #000;
}

.logo {
  height: 30px;
  cursor: pointer;
}

.search-bar {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s ease-in-out;
  width: 150px;
}

.search-bar:focus {
  width: 300px;
}

.profile-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.profile-icon:hover {
  transform: scale(1.2);
}
